/*JEFF HOPPER
CARA FEA FINAL PROJECT
GA ATL FEWD9*/


/*apply master html font size and rem/em font values for responsive design*/


/* APPLY PARALLAX */


/*
*
*
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0 auto;
    font-size: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

#hero {
    background-image: url(../images/header-bg-no-bar.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: block;
    border-bottom: 10px solid #DD5A5A;
    position: relative;
    overflow: hidden;
}

div#heroLogo img#white {
    width: 175px;
    position: absolute;
    top: 30px;
    right: 150px;
    z-index: 199;
}

div#heroLogo img#pink {
    width: 175px;
    position: absolute;
    top: 30px;
    right: 150px;
    z-index: 200;
    visibility: hidden;
    /*transition: all 0.2s;*/
}

div#heroLogo img#pink.show {
    visibility: visible;
}

button#plus {
    position: absolute;
    top: 40px;
    left: 170px;
    display: block;
    z-index: 200;
    border: none;
    background-color: transparent;
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    outline: none;
    transition: all 0.3s;
}

#plus.rotate {
    transform: rotate(225deg);
    color: #DD5A5A;
}

ul#menu {
    position: absolute;
    z-index: 100;
    top: 20px;
    width: 100%;
    background-color: white;
    transition: all 0.3s;
    height: 0;
    display: block;
    overflow: hidden;
}

ul#menu.show {
    height: 100px;
}

ul#menu li {
    display: inline-block;
    padding: 40px 4%;
    /*height: 80px;*/
    font-size: 25px;
    color: #DD5A5A;
}

ul#menu li:first-child {
    margin-left: 190px;
}

ul#menu li:hover {
    color: white;
    background-color: #DD5A5A;
}

div#title {
    display: block;
    margin-right: 25%;
    margin-left: 35%;
    position: relative;
    top: 70px;
    float: right;
}

h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 185px;
}

#title p {
    color: white;
    font-size: 15px;
    margin-top: 0px;
}


/*SCROLL BUTTON*/

div#scrollButton {
    padding: 30px;
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -130px;
    display: block;
}

button#scroll {
    font-size: 40px;
    height: 70px;
    width: 70px;
    border-radius: 40px;
    border: 5px solid white;
    color: #EA3838;
    background-color: transparent;
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;
    outline: none;
}

#scroll:hover {
    color: #18A5F2;
    border: 6px solid white;
    height: 75px;
    width: 75px;
}

#loose {
    position: relative;
    z-index: 200;
}


/*ABOUT SECTION*/

section#center {
    background-image: url(../images/faded-japan-street.jpg);
    background-size: cover;
    height: 800px;
    border-top: 60px solid white;
    border-bottom: 60px solid white;
}

div#about {
    width: 900px;
    display: block;
    position: relative;
    margin: 100px auto;
    overflow: auto;
}

div#theseGuys {
    position: relative;
    float: left;
    width: 500px;
    margin: 0;
}

div#theseGuys h1 {
    font-size: 70px;
    color: #DD5A5A;
    margin-top: 70px;
}

div#theseGuys p {
    font-size: 20px;
    font-weight: bold;
}

img#polaroid {
    display: block;
    float: right;
    max-width: 250px;
    margin: 60px;
    position: relative;
}


/*VIDEO*/

section#video {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: rgba(37, 37, 43, 0.5);
}

#video video {
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#skate {
    display: block;
    height: 720px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    width: 100%;
    text-align: center;
    color: white;
}

#skate h1 {
    font-size: 70px;
}

#skate p {
    font-size: 20px;
}

#skate p#links {
    font-size: 50px;
    color: #DD5A5A;
    font-weight: bold;
    margin: 20px;
}

p#links a:hover {
    color: #18A5F2;
}

#skate a {
    color: #DD5A5A;
    text-decoration: none;
}

#skate a:visited {
    text-decoration: none;
    color: #DD5A5A;
}


/*FOOTER*/

footer {
    position: relative;
    width: 100%;
    overflow: auto;
    background-color: white;
}

footer #footer {
    width: 900px;
    display: block;
    margin: 0 auto;
}

footer h2 {
    color: #DD5A5A;
    font-size: 40px;
}

footer #whoWeAre {
    display: block;
    width: 500px;
    float: left;
    margin: 10px auto 40px auto;
    overflow: auto;
}

footer #whoWeAre h2 {
    color: #DD5A5A;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width: 300px;
    margin-bottom: 0px;
}

#whoWeAre #leftColumn {
    float: left;
    display: block;
}

#whoWeAre #rightColumn {
    float: right;
    display: block;
}

#instagram ul {
    list-style: none;
    padding-left: 0;
}

#instagram li {
    padding: 3px;
}

#instagram li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

#instagram li a:hover {
    font-size: 23px;
}

#instagram li a:visited {
    color: black;
}

footer img {
    display: block;
    width: 200px;
    float: right;
    margin: 80px auto;
}
